<h2 class="text-center mt-4">Forgot your password?</h2>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "card p-4 shadow-sm" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <!-- Email field -->
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
        </div>

        <!-- Submit button -->
        <div class="text-center">
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary w-100 rounded-pill" %>
        </div>

      <% end %>
    </div>
  </div>
</div>


<%= render "devise/shared/links" %>
